<%- include("../../layout/head.ejs", {title: "MobileShop - AddSlider" }) -%>
<%- include("../../layout/header.ejs") -%>
<%- include("../../layout/sidebar.ejs") -%>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#"><svg class="glyph stroked home">
            <use xlink:href="#stroked-home"></use>
          </svg></a></li>
      <li><span>Quản lý slider</span></li>
      <li class="active">Thêm ảnh slider</li>
    </ol>
  </div>
  <!--/.row-->

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Thêm ảnh Slider</h1>
    </div>
  </div>
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <form role="form" method="post" action="/admin/create-slider" enctype="multipart/form-data" >
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <label>Tên slider</label>
                <input required name="name" type="text" class="form-control" />
              </div>
              <% if (data && data?.error) { %>
              <div class="text-danger"><span><%=data?.error%></span></div>
              <% } %>
              <div class="form-group">
                <label style="font-size: 2rem;">Yêu cầu:</label>
                <p>Số lượng ảnh tối đa: <span style="font-style: italic;">8 ảnh</span></p>
                <p>Chiều rộng: <span style="font-style: italic;">380px - 400px</span></p>
                <p>Chiều cao: <span style="font-style: italic;">100px - 400px</span></p>
              </div>
              <div class="form-group">
                <input required name="thumbnail" type="file">
                <br>
                <div>
                  <img style="max-width: 100%;" class="img-fluid" src="img/slide-1.png">
                </div>
                <div style="margin-top:  5px;">(Ảnh minh họa)</div>
              </div>
              <button name="sbm" type="submit" class="btn btn-success">Thêm mới</button>
              <button type="reset" class="btn btn-default">Làm mới</button>
            </div>
          </form>
        </div>
      </div>
    </div><!-- /.col-->
  </div><!-- /.row -->

</div>
<!--/.main-->

<%- include("../../layout/footer.ejs") -%>  